# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
db.sqlite3
media/
local_settings.py

# Environnement virtuel
.env
.venv
venv/
venv312/
ENV/

# Éléments spécifiques au système
.DS_Store
.idea/
.vscode/
*.swp
*.bak

# Fichiers de déploiement
*.zip
static_collected/
staticfiles/

# Fichiers de logs
*.log
logs/

# Fichiers temporaires
*.tmp
*.temp

# Fichiers potentiellement sensibles
.env.local
.env.development
.env.production

