*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
db.sqlite3
.env
.venv
venv/
venv312/
ENV/
*.log
local_settings.py
media/
.DS_Store
