{% extends 'base.html' %}
{% load static %}

{% block title %}Modifier un Animateur{% endblock %}

{% block content %}
<div class="container-fluid py-5">
    <div class="row mb-4">
        <div class="col">
            <h1>Modifier un animateur</h1>
            <p class="lead">{{ animateur.prenom }} {{ animateur.nom }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="row mb-3">
                            <div class="col-md-6 mb-3">

                                {{ form.nom }}
                                {% if form.nom.errors %}
                                <div class="text-danger">{{ form.nom.errors }}</div>
                                {% endif %}
                            </div>
                            
                            <div class="col-md-6 mb-3">

                                {{ form.prenom }}
                                {% if form.prenom.errors %}
                                <div class="text-danger">{{ form.prenom.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="mb-3">

                            {{ form.titre }}
                            {% if form.titre.errors %}
                            <div class="text-danger">{{ form.titre.errors }}</div>
                            {% endif %}
                        </div>
                        
                        <div class="mb-3">

                            {{ form.bio }}
                            {% if form.bio.errors %}
                            <div class="text-danger">{{ form.bio.errors }}</div>
                            {% endif %}
                        </div>
                        
                        <div class="mb-3">
                            {% if animateur.photo %}
                            <div class="mb-3">
                                <p>Photo actuelle :</p>
                                <img src="{{ animateur.photo.url }}" alt="{{ animateur.prenom }} {{ animateur.nom }}" class="img-thumbnail" style="max-height: 150px;">
                            </div>
                            {% endif %}
                            

                            {{ form.photo }}
                            {% if form.photo.errors %}
                            <div class="text-danger">{{ form.photo.errors }}</div>
                            {% endif %}
                            <div class="form-text">Format recommandé : image carrée, minimum 300x300 pixels</div>
                        </div>
                        
                        <div class="d-flex justify-content-end mt-4">
                            <a href="{% url 'detail_animateur' animateur.id %}" class="btn btn-secondary me-2">Annuler</a>
                            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
